<header>
  <section class="textos-header">
    <h1>Gamer Soft Blog</h1>
    <p>Blog de información general. Aquí encontrarás de todo un poco.</p>
  </section>
</header>

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link" [routerLink]="['/']"><i class="fa-solid fa-home"></i> Inicio</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
