header {
  width: 100%;
  background-color: #23764c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;

  .textos-header{
    width: 100%;
    color: #ffffff;
    text-align: center;
  }

  h1:hover {
    cursor: pointer;
  }
}
