/**.textos-header {
  text-align: center;
  padding: 50px 0;
  background-color: #23764c;
  color: #ffffff;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
  }
}

.navbar-custom {
  background-color: #fff;
  margin-bottom: 30px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #23764c;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #23764c;
}
*/


/* Encabezado */
header {
  background-color: #23764c;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

/* Navegación */
nav {

  display: flex;
  justify-content: center;
  align-items: center;
  //text-align: center;
  height: 45px;
  margin-bottom: 50px;

  ul {
    list-style: none;

    li {
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #23764c;
      }
    }

    li:hover {
      background-color: #23764c; /* Cambia el color de fondo al hacer hover */

      cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */

      a {
        color: #FFFFFF;
      }
    }
  }
}
