<div [@routerTransition]>
  <main *ngFor="let gamernews of data_result | paginate: paginacionConfig">
    <section class="contenedor post-news" [routerLink]="['/detailpost', gamernews.cod_news]">
      <h1 class="titulo">{{ gamernews.title }}</h1>
      <div class="contenedor-descriptions">
        <p>{{ gamernews.description }}</p>
      </div>
      <span class="created-date">Post news - {{ gamernews.created_at | MesAbreviadoPipe }}</span>
    </section>
  </main>

  <pagination-controls (pageChange)="paginacionConfig.currentPage = $event" previousLabel="anterior"
                       nextLabel="siguiente"></pagination-controls>
</div>
