footer {
  width: 100%;
  background-color: #23764c;
  padding: 20px;
  text-align: center;
  margin-top: 30px;

  p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
  }

  .redes-sociales-footer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redes-sociales-footer a {
    display: flex;
    width: 30px;
    height: 30px;
    color: #fff;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .redes-sociales-footer a:hover {
    background-color: #7cbd01; /* Cambia el color al hacer hover */
    transform: scale(1.05);
  }
}

.btn-invitacion-cafe {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla según tus necesidades */
  right: 0; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}
