.post-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 20px;
  text-align: justify;

  .titulo-post {
    font-size: 25px;
    font-weight: bold;
  }

  .created-date-post {
    font-size: 12px;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    margin: 12px 0 30px 0;
  }
}

.description-image {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 30px;

  p{
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
}


