<div [@routerTransition] class="container mt-5">

  <div class="row">
    <div class="col-lg-12" *ngFor="let post_one of data_post_one">

      <article>

        <header class="mb-4">
          <h1 class="fw-bolder mb-1">{{ post_one.title }}</h1>
          <div class="text-muted fst-italic mb-2">{{ post_one.created_at | MesAbreviadoPipe }}</div>
        </header>

        <!-- Preview image figure-->
        <figure class="mb-4" *ngIf="post_one.url_img !== null"><img class="img-fluid rounded" src="{{post_one.url_img}}"
                                                                    alt="{{post_one.title}}" width="100%"/></figure>

        <!-- Post content-->
        <section class="mb-5" [innerHTML]="post_one.content"></section>

      </article>

    </div>


    <!--
    <div class="col-lg-4">
      <app-menu-categorias></app-menu-categorias>
    </div>
    -->
  </div>


</div>
